/* src/index.css */
@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bắt buộc html, body và root phải full 100% chiều cao và rộng */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Chặn thanh cuộn ngang nếu có phần tử bị thừa */
}

/* Fix lỗi icon marker của bản đồ (giữ nguyên) */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}